version: 2.1

orbs:
  slack: circleci/slack@4

executors:
  pnpm-executor:
    docker:
      - image: cimg/node:22.2-browsers

jobs:
  build:
    executor: pnpm-executor
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Check node version
          command: node -v
      - run:
          name: Check pnpm version
          command: pnpm -v
      - run:
          name: Install packages
          command: pnpm install --frozen-lockfile
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: Build
          command: pnpm run build
      - slack/notify:
          channel: circleci
          event: always

workflows:
  flow:
    jobs:
      - build:
          context: 
            - Slack

# VS Code Extension Version: 1.5.1
